body {
    background: #000;
    margin: 0;
    padding: 0;
    color: rgb(0, 125, 58); /* 暗绿色 */
    font-family: 'Press Start 2P', monospace;
    overflow: hidden; /* 不滚动 */
}

.words {
    position: fixed;
    inset: 0;                 /* 占满整个屏幕 */
    display: flex;
    align-items: center;      /* 垂直居中 */
    justify-content: center;  /* 水平居中 */

    font-size: 6vw;           /* 自适应大字 */
    line-height: 1.4;
    text-align: center;
    padding: 40px;
    word-wrap: break-word;
    text-transform: uppercase; /* 全部大写 */
    text-shadow:

        0 0 40px #00ff0052,
        0 0 80px #00ff004c;
}
